header{
    display: flex;
    margin-left: 2%;
  }
  .speler1{
    background-color: white;    
    border-style: solid;
    border-width: 2px; 
    width: 25%;
    text-align: center;
    display: grid;
    grid-template-columns: 60% repeat(2, 1fr);
    grid-template-rows: repeat(9, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
  
  }
  .speler1{
    border-style: solid;
  }
  
  .numbers{
    text-align: left;
  }