header{
    display: flex;
    margin-left: 2%;
  }

body {
    display: grid;
    grid-template-columns: 0.7fr 1.6fr 0.7fr;
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    }
  
  .speler1{
    background-color: white;    
    border-style: solid;
    border-width: 2px; 
    width: 100%;
    text-align: center;
    display: grid;
    grid-template-columns: 60% repeat(2, 1fr);
    grid-template-rows: repeat(9, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
  
  }
  .speler1{
    border-style: solid;
    border-width: 2px;  
  }
  
  .numbers{
    text-align: left;
    border-radius: solid;
    border-width: 2px;
  }
  

  .last{
    background-color: lightgreen;
    margin: 0;
    padding: 0;
    padding-top: 20%;
    border-style: solid;  
    border-width: 2px;
  }

  .mid{
    background-color: lightcyan;
    margin: 0;
    padding-top: 20%;
    border-style: solid;
    border-width: 2px;
  }

.bottom{
  border-style: solid;
    border-width: 2px;  
    width: 100%;
    display: grid;
    grid-template-columns: 60% repeat(2, 1fr);
    grid-template-rows: repeat(9, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    text-align: center;

}

.player1{ 
  display: flex;
}

.input1{
 margin: 1.5%;
 border: 1px solid black;
}

.player2{ 
  display: flex;
}

.input2{

  margin: 1.5%;
  border: 1px solid black;

}

.speler2{
  background-color: white;    
    border-style: solid;
    border-width: 2px; 
    width: 100%;
    text-align: center;
    display: grid;
    grid-template-columns: 60% repeat(2, 1fr);
    grid-template-rows: repeat(9, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.bottom2{
  border-style: solid;
    border-width: 2px;  
    width: 100%;
    display: grid;
    grid-template-columns: 60% repeat(2, 1fr);
    grid-template-rows: repeat(9, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    text-align: center;
}

.table{
  background-color: green;
  margin: 5%;
  border-style: solid;
  border-width: 10px;
  border-color: rgb(165, 91, 42);
  text-align: center;
  margin-top: 8.5%;

}

#roll{
  position: absolute;
  top: 5%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 25px 90px;
  border-radius: 4px;
  transition-duration: 0.4s;
  text-align: center;

  background-color: rgb(145, 207, 227);
  color: white;
  font-size: 16px;
  margin: 4px 2px;

  transition: 0.3s;
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
}


.roll{
  position: fixed !important;
}

img{
  width: 20%;
  height: 20%;
}

.dice{
  position: fixed;
  top: 50%;	
  left: 50%;
  transform: translate(-50%, -50%); 
}

#rollsLeft{
  display: flex;
}

#reset{
  position: absolute;
  left: 60%;
  right: 40%;
  width: 10%;
  height: 5%;
}